version: '3.1'

services:
  owncloud:
    image: owncloud
    restart: always
    ports:
      - 8080:80
    volumes:
        - /owncloud/owncloud/:/var/www/html

  mariadb:
    image: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
        - /owncloud/mysql/:/var/lib/mysql